{% extends 'base.html.twig' %}

{% block title %}Edit Block
{% endblock %}

{% block body %}
	{% include 'admin-nav.html.twig' %}

	<section class="ftco-section bg-light">
		<div class="container">
			<h1>Edit Block</h1>

			{{ include('block/_form.html.twig', {'button_label': 'Update'}) }}
			{{ include('block/_delete_form.html.twig') }}
			<a href="{{ path('block_index') }}" class=" btn btn-warning mt-2">back to list</a>

		</div>
	</section>
{% endblock %}
