<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/home">MD</a>
		<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span>
			Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav nav ml-auto">
				<li class="nav-item">
					<a href="/admin/section" class="nav-link">
						<span>Sections</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/block" class="nav-link">
						<span>Blocks</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/admin/blog" class="nav-link">
						<span>Blogs</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="/logout" class="nav-link btn-warning ml-2">
						<span>Déconnexion</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
